@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html, body {
        height: -webkit-fill-available;
        margin: 0px;
        overflow-x: hidden;
        background-color: #983711;
    }
}

@layer components {
    .apple-2 {
        margin-left: -175px;
    }
    .mbTitle {
        margin-bottom: -70px;
    }
    .myBtn {
        display:inline-block;
        padding:0.35rem 1.2rem;
        border:0.1em solid #FFFFFF;
        height: 130px;
        border-radius:1rem;
        box-sizing: border-box;
        text-decoration:none;
        font-weight:300;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.2s;
    }
    .myBtn:hover{
        color:#000000;
        background-color:#FFFFFF;
    }


    .loader_container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: whitesmoke;
    }
    
    .loader {
        position: relative;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background: linear-gradient(#8d1000, #431160, #f2f2f2);
        animation: animate 1.2s linear infinite;
    }
    
    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .loader span {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient(#8d1000, #431160, #f2f2f2);
    }
    
    .loader span:nth-child(1) {
        filter: blur(5px);
    }
    
    .loader span:nth-child(2) {
        filter: blur(10px);
    }
    
    .loader span:nth-child(3) {
        filter: blur(25px);
    }
    
    .loader span:nth-child(4) {
        filter: blur(50px);
    }
    
    .loader:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background: whitesmoke;
        border: solid white 10px;
        border-radius: 50%;
    }

    @media (max-height: 1500px) {
        .keyboard_hide {
            display: none;
        }
        #modal_accept.keyboard_modal_margin{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
  }

  