@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        height: -webkit-fill-available;
    }
    body {
        height: -webkit-fill-available;
    }
}

@layer components {
    .apple-2 {
        margin-left: -175px;
    }
    .mbTitle {
        margin-bottom: -70px;
    }
    .myBtn {
        display:inline-block;
        padding:0.35rem 1.2rem;
        border:0.1em solid #FFFFFF;
        height: 130px;
        border-radius:1rem;
        box-sizing: border-box;
        text-decoration:none;
        font-weight:300;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.2s;
    }
    .myBtn:hover{
        color:#000000;
        background-color:#FFFFFF;
        }

    @media (max-height: 1000px) {
        .keyboard_hide {
            display: none;
        }
        #modal_accept.keyboard_modal_margin{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
  }

  