@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: theme('colors.whitesmoke');
    --background-secondary: theme('colors.darkchocolate');
    --background-image: url(../public/backgrounds/default-bgr-photoshop.png);

    --static-1: url(../public/icons/bettainvite-flower-icon.png);
  
    --primary-dark: theme('colors.darkchocolate');
    --primary-medium: theme('colors.darknavy');
    --primary-light: theme('colors.whitesmoke');

    --accent-dark: theme('colors.brick');
    --accent-light: theme('colors.whitesmoke');
  }
  
  [data-theme='fall'] {
    --background: theme('colors.brick');
    --background-image: url(../public/backgrounds/bettainvite-background.png);

    --static-1: url(../public/icons/bettainvite-singleapple.png);
  
    --primary-dark: theme('colors.leaves-brown');
    --primary-medium: theme('colors.brick');
    --primary-light: theme('colors.leaves-ivory');

    --accent-dark: theme('colors.black');
    --accent-light: theme('colors.whitesmoke');
  }
  
  [data-theme='delicate'] {
    --background: theme('colors.salmon');
    --background-image: url(../public/backgrounds/bettainvite_pink_background.jpg);

    --static-1: url(../public/icons/yarn-ball-icon.png);

    --primary-dark: theme('colors.lightolive');
    --primary-medium: theme('colors.salmon');
    --primary-light: theme('colors.champagne');

    --accent-dark: theme('colors.darkchocolate');
    --accent-light: theme('colors.whitesmoke');
  }

  [data-theme='lavender'] {
    --background: theme('colors.salmon');
    --background-image: url(../public/backgrounds/bettainvite-bgr-lavender-1.jpg);

    --static-1: url(../public/icons/bettainvite_model.png);

    --primary-dark: theme('colors.intenseviolet');
    --primary-medium: theme('colors.mateblue');
    --primary-light: theme('colors.lightgray');

    --accent-dark: theme('colors.darkchocolate');
    --accent-light: theme('colors.whitesmoke');
  }

  [data-theme='cherryblossom'] {
    --background: theme('colors.matecherry');
    --background-image: url(../public/backgrounds/blossom-bgr-bettainvite-edit.png);

    --static-1: url(../public/icons/blossom-icon-bettainvite-big.png);
  
    --primary-dark: theme('colors.darkbrown');
    --primary-medium: theme('colors.matecherry');
    --primary-light: theme('colors.lightpink');

    --accent-dark: theme('colors.black');
    --accent-light: theme('colors.pinkishwhite');
  }

  [data-theme='suits'] {
    --background: theme('colors.chocolate');
    --background-image: url(../public/backgrounds/elders-party-bgr-3.png);

    --static-1: url(../public/icons/book-icon-1.png);
  
    --primary-dark: theme('colors.burntorange');
    --primary-medium: theme('colors.chocolate');
    --primary-light: theme('colors.champagne');

    --accent-dark: theme('colors.black');
    --accent-light: theme('colors.lightcyan');
  }
/* Fix colors for SAGE theme */
  [data-theme='sage'] {
    --background: theme('colors.chocolate');
    --background-image: url(../public/backgrounds/sage-bgr.jpg);

    --static-1: url(../public/icons/issa-icon-2.png);
  
    --primary-dark: theme('colors.burntorange');
    --primary-medium: theme('colors.chocolate');
    --primary-light: theme('colors.champagne');

    --accent-dark: theme('colors.black');
    --accent-light: theme('colors.lightcyan');
  }

  [data-theme='issa'] {
    --background: theme('colors.tan');
    --background-image: url(../public/backgrounds/lightvite-photoshop.png);

    --static-1: url(../public/icons/issa-icon-2.png);

    --primary-dark: theme('colors.rosebrown');
    --primary-medium: theme('colors.tan');
    --primary-light: theme('colors.ivory');

    --accent-dark: theme('colors.darkchocolate');
    --accent-light: theme('colors.champagne');
  }

  [data-theme='band'] {
    --background: theme('colors.black');

    --static-1: url(../public/icons/bettainvite-sphere.png);

    --primary-dark: theme('colors.black');
    --primary-medium: theme('colors.blue');
    --primary-light: theme('colors.lightcyan');

    --accent-dark: theme('colors.darkchocolate');
    --accent-light: theme('colors.lightgray');
  }
  [data-theme='band-light'] {
    --background: theme('colors.champagne');

    --static-1: url(../public/icons/bettainvite-sphere.png);

    --primary-dark: theme('colors.midnight');
    --primary-medium: theme('colors.gray');
    --primary-light: theme('colors.lightcyan');

    --accent-dark: theme('colors.darkchocolate');
    --accent-light: theme('colors.lightgray');
  }
  [data-theme='garnet'] {
    --background: theme('colors.garnet');

    --static-1: url(../public/icons/bettainvite-sphere.png);

    --primary-dark: theme('colors.darkchocolate');
    --primary-medium: theme('colors.garnet');
    --primary-light: theme('colors.tan');

    --accent-dark: theme('colors.black');
    --accent-light: theme('colors.whitesmoke');
  }
  [data-theme='garnet-light'] {
    --background: theme('colors.tan');

    --static-1: url(../public/icons/bettainvite-sphere.png);

    --primary-dark: theme('colors.ivory');
    --primary-medium: theme('colors.garnet');
    --primary-light: theme('colors.pinkishwhite');

    --accent-dark: theme('colors.black');
    --accent-light: theme('colors.whitesmoke');
  }
  /* for reference */
  /* [data-theme='pink'] {
    --background: theme('colors.gray.900');
    --background-secondary: theme('colors.gray.800');
  
    --accent-dark: theme('colors.pink.900');
    --accent-medium: theme('colors.pink.700');
    --accent-light: theme('colors.pink.500');
  
    --primary-dark: theme('colors.gray.300');
    --primary-medium: theme('colors.gray.200');
    --primary-light: theme('colors.gray.100');
  } */

@layer base {
    html, body {
        height: -webkit-fill-available;
        margin: 0px;
        overflow-x: hidden;
    }
}

@layer components {
    .mbTitle {
        margin-bottom: -70px;
    }
    .myBtn {
        display:inline-block;
        padding:0.35rem 1.2rem;
        border:0.1em solid var(--primary-light);
        height: 130px;
        border-radius:1rem;
        box-sizing: border-box;
        text-decoration:none;
        font-weight:300;
        color:var(--primary-light);
        text-align:center;
        transition: all 0.2s;
    }
    .myBtn:hover{
        color:#000000;
        background-color:var(--primary-light);
    }

    .loader_container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: var(--primary-medium);
    }
    
    .loader {
        position: relative;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background: linear-gradient(var(--primary-medium), var(--primary-light), var(--primary-dark));
        animation: animate 1.2s linear infinite;
    }

    .websitesListItem {
      -webkit-box-shadow: inset 0px 0px 15px 0px #232323; 
      box-shadow: inset 0px 0px 15px 0px #232323;
    }
    
    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .loader span {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient(var(--primary-medium), var(--primary-light), var(--primary-dark));
    }
    
    .loader span:nth-child(1) {
        filter: blur(5px);
    }
    
    .loader span:nth-child(2) {
        filter: blur(10px);
    }
    
    .loader span:nth-child(3) {
        filter: blur(25px);
    }
    
    .loader span:nth-child(4) {
        filter: blur(50px);
    }
    
    .loader:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background: var(--primary-medium);
        border: solid #FFFCDB 10px;
        border-radius: 50%;
    }

    @media (max-height: 1500px) {
        .keyboard_hide {
            display: none;
        }
        #modal_accept.keyboard_modal_margin{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
  }

  